@model BookStore1.Models.AuthorVM
@using BookStore1.Data
@{
    ViewData["Title"] = "Author";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section Head{
    <script type="text/javascript">


        $(document).ready(function () {
            $(".liEdit").click(function () {
                debugger;
                var author = $(this).parent().parent().find("#authorID").text();
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost/bookProject1/api/ajax/EditAuthor?id=' + author,
                    //url: 'http://localhost/bookProject1/Book/Edit?id=' + author,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        debugger;
                        $("#fName").val(data.author.firstName);
                        $("#lName").val(data.author.lastName);
                        //$("#Nation").val(data.nationality.id);
                        console.log(data);
                    },
                    error: function (ex) {
                        alert("error")
                    }
                });
                window.$('#authorModal').modal('show');
                // $("#bookModal").model('show');
            });
        });

    </script>
}
@section body{
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" id="authorID" asp-for="author.Id" />
        <input type="hidden" asp-for="author.Image" />

        <div class="row" style="margin-left: 10px; margin-top: 10px">
            <div class="col-xs-3 col-lg-3">
                <button type="button" style="width: 128px;" class="btn btn-warning" data-toggle="modal" data-target="#authorModal">New Author</button>

                <input type="text" style="margin-left: 208px;margin-top: -37px;width: 254px;" class="form-control" name="searchAuthor" />
                <button type="submit" style="margin-left: 479px;margin-top: -67px;" class="btn btn-outline-warning" asp-action="Search"><i class="fa fa-search" aria-hidden="true"></i> </button>
            </div>
        </div>




        <div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Authors</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <span>First Name</span>
                            <input type="text" id="fName" class="form-control" placeholder="First Name" id="txtfName" asp-for="author.firstName" />
                        </div>
                        <div class="form-group">
                            <span>Last Name</span>
                            <input type="text" id="lName" class="form-control" placeholder="Last Name" id="txtlName" asp-for="author.lastName" />
                        </div>
                        <div class="form-group">
                            <span>Nationality</span>
                            <select class="form-control" id="Nation" asp-items='new SelectList(Model.liNationalities,"Id","Name")' asp-for="author.Nationality_id">
                            </select>
                        </div>
                        <div class="form-group">
                            <span>Image</span>
                            <input type="file"  class="form-control" asp-for="author.Image" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        @if (Model.author.Id > 0)
                        {
                            <button type="submit" asp-controller="Author" class="btn btn-outline-warning" asp-action="Update">Update</button>
                        }
                        else
                        {
                            <button type="submit" asp-controller="Author" class="btn btn-outline-warning" asp-action="saveData">Save</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-9"  style="margin-left: 228px; margin-top: 22px ">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Author item in Model.liAuthor)
                            {
                                <tr>
                                    <td id="authorID" style="padding-right: 100px;">
                                        @item.Id
                                    </td>
                                    <td style="padding-right: 100px;">
                                        @item.firstName
                                    </td>
                                    <td style="padding-right: 100px;">
                                        <img src='@item.path' style="width:50px" />
                                    </td>
                                    <td style="padding-right: 100px;">
                                        <a class="liEdit button button1 btn btn-outline-warning">
                                            <i class="fa fa-pencil-square-o"  aria-hidden="true"></i>
                                        </a>
                                        <a asp-controller="Author" asp-action="Delete" asp-route-id='@item.Id' class="button button1 btn btn-outline-warning" style="margin-left: 47px;margin-top: -68px;">
                                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </form>

}
