@model vmSignUp

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Body{

    <form method="post">
        <div style="margin-left: 450px;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Name </label>
                        <input type="text" asp-for="signUp.Name" class="form-control" style="width: 300px;" />
                        <span asp-validation-for="signUp.Name"> </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input type="text" asp-for="signUp.Username" class="form-control" style="width: 300px;" />
                        <span asp-validation-for="signUp.Username"> </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" asp-for="signUp.Email" class="form-control" style="width: 300px;" />
                        <span asp-validation-for="signUp.Email"> </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" asp-for="signUp.Password" class="form-control" style="width: 300px;" />
                        <span asp-validation-for="signUp.Password"> </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">Role</label>
                    <select class="form-control" style="width: 300px;" asp-for="signUp.Role_Id" asp-items='new SelectList(Model.liRole,"Id","Name")'>
                    </select>
                    <span asp-validation-for="signUp.Role_Id" > </span>
                </div>
            </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <input type="submit" value="Create Account" asp-action="SignUp" class="btn btn-warning" />
                </div>

            </div>
        </div>
    </form>


}


